.nav__options {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow-y: hidden;
}
h6:hover {
  cursor: grab;
}
.right__section {
  overflow-x: hidden !important;
}